---
name: Nightly check
on:
  schedule:
    - cron: '55 5 * * *'
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check metadata
        run: tools/check-metadata-urls metadata/*xml
